body{
  background: rgb(48, 48, 104);
}

section{
  margin-top: 100px;
  margin-right: 200px;
  margin-left: 500px;
}



#valor-1,#valor-2{
  border: solid 3px black;
  border-radius: 10px;
  display: inline;
  justify-content: space-around;
  padding: 30px;
  width: 70px;
  height: 50px;
  font-size: 4em;
  text-align: center;
  margin-left: 50px;
       
}

.container-imagens {
  display: flex;
  padding-top: 40px;
  align-items: center;
    
}
  
.imagem {
  position: relative;
  margin: 10px;
    
}
  
.nome-imagem {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imagem:hover{
  transform: scale(1.2);
}
  
.imagem:hover .nome-imagem {
  opacity: 1;
}

#button{
  padding-top: 30px;
  padding-left: 80px;
}

#botao{
  font-size: 4em;
  align-items: center;
  color: black;
  border: solid 3px;
  border-radius: 20px;
}

#botao:hover{
  transform: scale(1.1);
}
  
#res{
  background: blanchedalmond;
}